@font-face {
  font-family: 'Trajan Pro';
  src: url('/src/assets/fonts/TrajanPro/TrajanPro-Regular.woff2')
      format('woff2'),
    url('/src/assets/fonts/TrajanPro/TrajanPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url('/src/assets/fonts/TrajanPro/TrajanPro-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/TrajanPro/TrajanPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.trajanpro-regular {
  font-family: 'Trajan Pro';
  font-weight: 400;
}

.trajanpro-bold {
  font-family: 'Trajan Pro';
  font-weight: 700;
}

html,
body {
  font-family: 'Trajan Pro';
  font-weight: 400;
}
